.cont {
	height: 200px;
	border: 1px solid red;
	overflow-x: auto;
	max-width: 200px;
}

h1 {
	margin-bottom: 200px;
}

#arrowTop {
	/* visibility: hidden; */
	height: 20px;
	width: 20px;
	text-align: center;
	color: green;
	background-color: red;
	position: fixed;
	top: 10px;
	left: 10px;
	cursor: pointer;
}

#arrowTop::before {
	content: '▲';
}