#div {
	/* position: absolute; */
	display: block;
	width: 200px;
	height: 200px;
	/* background-color: #000; */
	border: 1px solid red;
	color: #000;
	font-size: 20px;
}

#btn {

}

table {
	border: 1px solid #000;
	text-align: center;
}

td {
	border: 1px solid #000;
}